.global {
    font-family: 'Cartoon Fun', sans-serif;
    /* Base styles */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}
